.sheet {
  width: 90%;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem 0;
  user-select: none;
}

.car-identification {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.make-field, .model-field, .year-field, .price-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.make-field {
  margin-top: 1rem;
}

.make-field h4, .model-field h4, .year-field h4, .price-field h4 {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.make-field input, .model-field input, .year-field input, .price-field input {
  width: 100%;
  height: 2rem;
  border: none;
  border: 1px solid var(--gray);
  font-size: 1rem;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
}

.button-field {
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding: 0 1rem;
}

.button-field button {
  width: 100%;
  height: 2rem;
  border: none;
  font-size: 1rem;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--main-color);
  color: var(--white);
}